n8n-gmail-attachments-to-dropbox.json
{
  "name": "Gmail Attachments to Dropbox by Sender",
  "nodes": [
    {
      "parameters": {
        "triggerOn": "messageReceived",
        "filters": {},
        "options": {
          "includeAttachmentData": true
        }
      },
      "id": "1a2b3c4d-5e6f-7890-abcd-ef1234567890",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "webhookId": "auto-generated-webhook-id",
      "credentials": {
        "gmailOAuth2": {
          "id": "3",
          "name": "Gmail OAuth2 account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.attachments }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "2b3c4d5e-6f7a-8901-bcde-f12345678901",
      "name": "Has Attachments?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            {
              "name": "senderEmail",
              "value": "={{ $json.from.address || $json.from }}"
            },
            {
              "name": "senderName",
              "value": "={{ $json.from.name || ($json.from.address ? $json.from.address.split('@')[0] : $json.from.split('@')[0]) }}"
            },
            {
              "name": "subject",
              "value": "={{ $json.subject }}"
            },
            {
              "name": "receivedDate",
              "value": "={{ $json.receivedDateTime || $json.date }}"
            },
            {
              "name": "messageId",
              "value": "={{ $json.id }}"
            },
            {
              "name": "folderName",
              "value": "={{ ($json.from.address || $json.from).replace(/[^a-zA-Z0-9@._-]/g, '_') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3c4d5e6f-7a8b-9012-cdef-123456789012",
      "name": "Extract Sender Info",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        680,
        200
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "path": "={{ '/Emails/' + $json.folderName }}",
        "options": {}
      },
      "id": "4d5e6f7a-8b9c-0123-def1-234567890123",
      "name": "Create Dropbox Folder",
      "type": "n8n-nodes-base.dropbox",
      "typeVersion": 2,
      "position": [
        900,
        200
      ],
      "credentials": {
        "dropboxApi": {
          "id": "2",
          "name": "Dropbox account"
        }
      },
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
              "name": "folderPath",
              "value": "={{ '/Emails/' + $('Extract Sender Info').item.json.folderName }}",
              "type": "string"
            },
            {
              "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
              "name": "senderEmail",
              "value": "={{ $('Extract Sender Info').item.json.senderEmail }}",
              "type": "string"
            },
            {
              "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
              "name": "senderName",
              "value": "={{ $('Extract Sender Info').item.json.senderName }}",
              "type": "string"
            },
            {
              "id": "d4e5f6a7-b8c9-0123-def1-234567890123",
              "name": "subject",
              "value": "={{ $('Extract Sender Info').item.json.subject }}",
              "type": "string"
            },
            {
              "id": "e5f6a7b8-c9d0-1234-ef12-345678901234",
              "name": "messageId",
              "value": "={{ $('Extract Sender Info').item.json.messageId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "5e6f7a8b-9c0d-1234-ef12-345678901234",
      "name": "Set Folder Path",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        1120,
        200
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "attachments",
        "options": {}
      },
      "id": "6f7a8b9c-0d1e-2345-f123-456789012345",
      "name": "Split Attachments",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1340,
        200
      ]
    },
    {
      "parameters": {
        "operation": "upload",
        "path": "={{ $('Set Folder Path').item.json.folderPath + '/' + $json.name }}",
        "binaryData": true,
        "binaryPropertyName": "data",
        "options": {
          "mode": "overwrite"
        }
      },
      "id": "7a8b9c0d-1e2f-3456-1234-567890123456",
      "name": "Upload to Dropbox",
      "type": "n8n-nodes-base.dropbox",
      "typeVersion": 2,
      "position": [
        1560,
        200
      ],
      "credentials": {
        "dropboxApi": {
          "id": "2",
          "name": "Dropbox account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f6a7b8c9-d0e1-2345-f123-456789012345",
              "name": "uploadedFile",
              "value": "={{ $json.path_display }}",
              "type": "string"
            },
            {
              "id": "a7b8c9d0-e1f2-3456-1234-567890123456",
              "name": "fileName",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "b8c9d0e1-f2a3-4567-2345-678901234567",
              "name": "fileSize",
              "value": "={{ $json.size }}",
              "type": "number"
            },
            {
              "id": "c9d0e1f2-a3b4-5678-3456-789012345678",
              "name": "senderEmail",
              "value": "={{ $('Set Folder Path').item.json.senderEmail }}",
              "type": "string"
            },
            {
              "id": "d0e1f2a3-b4c5-6789-4567-890123456789",
              "name": "emailSubject",
              "value": "={{ $('Set Folder Path').item.json.subject }}",
              "type": "string"
            },
            {
              "id": "e1f2a3b4-c5d6-7890-5678-901234567890",
              "name": "uploadDate",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "f2a3b4c5-d6e7-8901-6789-012345678901",
              "name": "messageId",
              "value": "={{ $('Set Folder Path').item.json.messageId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "8b9c0d1e-2f3a-4567-2345-678901234567",
      "name": "Format Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        1780,
        200
      ]
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Set Folder Path').item.json.messageId }}",
        "labelIds": [
          "Label_Processed"
        ]
      },
      "id": "9c0d1e2f-3a4b-5678-3456-789012345678",
      "name": "Mark Email as Processed",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2000,
        200
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "3",
          "name": "Gmail OAuth2 account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "content": "## Gmail Attachments Successfully Processed\n\n**File:** {{ $('Format Output').item.json.fileName }}\n**From:** {{ $('Format Output').item.json.senderEmail }}\n**Subject:** {{ $('Format Output').item.json.emailSubject }}\n**Uploaded to:** {{ $('Format Output').item.json.uploadedFile }}\n**Size:** {{ ($('Format Output').item.json.fileSize / 1024).toFixed(2) }} KB\n**Date:** {{ $('Format Output').item.json.uploadDate }}",
        "height": 464,
        "width": 389
      },
      "id": "0d1e2f3a-4b5c-6789-4567-890123456789",
      "name": "Success Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1960,
        380
      ]
    },
    {
      "parameters": {
        "content": "## No Attachments Found\n\nEmail received but contains no attachments.\nSkipping processing.",
        "height": 271,
        "width": 344
      },
      "id": "1e2f3a4b-5c6d-7890-5678-901234567890",
      "name": "No Attachments Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        460,
        460
      ]
    },
    {
      "parameters": {},
      "id": "2f3a4b5c-6d7e-8901-6789-012345678901",
      "name": "No Operation - Skip",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        680,
        400
      ]
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Has Attachments?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Attachments?": {
      "main": [
        [
          {
            "node": "Extract Sender Info",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation - Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Sender Info": {
      "main": [
        [
          {
            "node": "Create Dropbox Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Dropbox Folder": {
      "main": [
        [
          {
            "node": "Set Folder Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Folder Path": {
      "main": [
        [
          {
            "node": "Split Attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Attachments": {
      "main": [
        [
          {
            "node": "Upload to Dropbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Dropbox": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Output": {
      "main": [
        [
          {
            "node": "Mark Email as Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-06T00:00:00.000Z",
  "versionId": "1"
}
